@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

body {
  font-family: "Geist Mono", serif !important;
  background-color: #0a0a0a !important;
  background-image: url("elements/background.svg");
  height: 100%;
  background-size: cover;
}

::selection{
  color: #0a0a0a;
  background-color: #9fe0c1;
}

/* genel */
.pointer {
  cursor: pointer;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

/* fonts */
.text-48 {
  font-size: 48px;
  font-weight: 400;
}

.text-48g {
  font-size: 48px;
  font-weight: 400;
  color: #8c8c8c;
}

.text-32 {
  font-size: 32px;
}

.text-24b {
  font-size: 24px;
  font-weight: 700;
}

.text-24 {
  font-size: 24px;
}

.text-14 {
  font-size: 14px;
  font-weight: 700;
}

/* colors */
.units_green {
  color: #9fe0c1;
}

.white-t {
  color: #f8f8f8;
}

.white-b {
  background-color: #f8f8f8;
}

.black-b {
  background-color: #0a0a0a;
}

.red {
  color: #f69798;
}

.grey {
  color: #8c8c8c;
}

/* header */
header {
  background: linear-gradient(to bottom, #0a0a0a, #0a0a0a00);
  height: 122px;
}

.hd {
  height: 122px;
  padding: 32px 80px;
}

.logo {
  width: 450px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

.wallet {
  
  padding: 12px 24px;
  height: 58px;
  border: 1px solid #f8f8f8;
  z-index: 0;
}

.wallet:hover {
  background-color: #ffffff1f;
  color: #ffffff;
  transition: 0.5s;
}

.wallet:active {
  background-color: #ffffff0a;
  color: #ffffff6e;
  transition: 0.5s;
}

/* ARTICLE */
/* up */
article {
  padding-bottom: 24px;
}

.row-up {
  gap: 51px;
  padding: 40px 0px;
}

.shape {
  width: 22px;
  height: 43px;
}

.shape img {
  width: 100%;
  height: 100%;
}

/* down */
.down-div {
  height: 141px;
  width: 812px;
  padding: 31px 30px;
  background-color: #0a0a0a;
}

.down-div.true{
  border: 1px solid #9fe0c1;
}

.down-div.false{
  border: 1px solid #F69798;
}

.down-div:hover {
  box-shadow: 0px 0px 20px 2px #888888;
  transition: 0.5s;
}

.down-div:active {
  border: #f8f8f8 1px solid;
  box-shadow: 0px 0px 4px 0px #888888;
}

.search {
  width: 60.9px;
  height: 62.4px;
}

.search img {
  width: 100%;
  height: 100%;
}

input {
  padding: 10px;
  border: none;
  background-color: #0a0a0a;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.input-name {
  bottom: 10px;
  position: relative;
}

input:focus {
  outline: none;
}

/* check */
.check-name {
  height: 58px;
  width: 812px;
}

.check-div {
  height: 58px;
  width: 812px;
}

.check-btn {
  width: 20px;
  height: 20px;
  display: contents;
}

.claim-btn {
  height: 58px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}

.clicked {
  background-color: #ffffff0a !important;
  color: #ffffff6e !important;
}

#infoBox {
  justify-content: center;
}

.show {
  opacity: 1;
  transform: scale(1);
}

/* claim.html */
.claim-up {
  width: 812px;
}

.profile-icon {
  width: 29px;
  height: 30px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.claim-down {
  background-color: #0a0a0a;
  border: 1px solid #9fe0c1;
  width: 812px;
  height: 384px;
}

.inner-container {
  /* width: 718px;
  height: 86px; */
}

.eth-usd {
  justify-content: end;
  display: flex;
  align-items: center;
}

.border-button {
  border: #f8f8f8 1px solid;
  padding: 2px;
}

.toggle-container {
  width: 146px;
  height: 40px;
  display: flex;
  overflow: hidden;
  border: 1px solid #0a0a0a;
}

.toggle-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.7s ease-in-out;
}

/* Başlangıçta ETH aktif */
.eth {
  background-color: #f8f8f8;
  color: #0a0a0a;
}

.usd {
  background-color: #0a0a0a;
  color: #f8f8f8;
}

/* Aktif buton için stil */
.active {
  background-color: #f8f8f8 !important;
  color: #0a0a0a !important;
}

.inactive {
  background-color: #0a0a0a !important;
  color: #f8f8f8 !important;
}

.line {
  height: 1px;
  background: #f8f8f8;
  width: 100%;
  margin-top: 25px;
}

.line:hover {
  box-shadow: 0px 0px 9px 2px #888888;
}

/* profile */
.profile-down {
  background-color: #0a0a0a;
  border: 1px solid #9fe0c1;
  padding: 12px 48px 24px 48px;
  max-width: 900px;
}

.address {
  width: 24px;
  height: auto;
  display: flex;
}

/* profileClaimed */
.profile-claim {
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(159, 224, 193);
  width: 812px;
  height: 279px;
  padding: 0px 30px;
}

.inner-container-pC {
  width: 718px;
  /* height: 86px; */
}

.wallet-border {
  height: 40px;
  border: 1px solid #f8f8f8;
  z-index: 0;
}

.wallet-img {
  width: 24px;
  height: 24px;
}

.wallet-img img {
  width: 100%;
  height: 100%;
}
